.bg-active{
    background-color: rgb(210, 205, 205) !important;
}
.bg-inActive{
    background-color: rgb(249, 192, 192);
}
table tr{
    white-space: nowrap;
}

.badge{
    width: 100px !important;
}
.capitalize-text{
    text-transform: capitalize;
  }
  img{
    object-fit: cover;
  }
  .form-control:focus{
    box-shadow: none;
  }